<%= form_with model: coin, class: "form" do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :acronym %>
    <%= form.text_field :acronym %>
  </div>

  <div class="field">
    <%= form.label :image_URL.capitalize %>
    <figure if coin.url_image.present?>
      <%= image_tag(coin.url_image, size: "64x64", alt: "#{coin.name}_image") %>
    </figure>
    <%= form.text_field :url_image %>
  </div>

  <div class="field">
    <%= form.label :mining_type_id %>
    <%= form.collection_select :mining_type_id, MiningType.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-medium btn--accept" %>
  </div>
<% end %>
